
CREATE TABLE [siv].[user_account_control](
	[PropertyFlag] [nvarchar](255) NULL,
	[ValueInHexadecimal] [nvarchar](255) NULL,
	[ValueInDecimal] [float] NULL,
	[StatusAccount] [nvarchar](max) NULL,
	[Statusdescription] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [siv].[user_account_control] ([PropertyFlag], [ValueInHexadecimal], [ValueInDecimal], [StatusAccount], [Statusdescription]) VALUES (N'SCRIPT', N'0x0001', 1, N'O script de logon será executado.', N'SCRIPT')
INSERT [siv].[user_account_control] ([PropertyFlag], [ValueInHexadecimal], [ValueInDecimal], [StatusAccount], [Statusdescription]) VALUES (N'ACCOUNTDISABLE', N'0x0002', 2, N'A conta de usuário está desabilitada.', N'Conta desabilitada')
INSERT [siv].[user_account_control] ([PropertyFlag], [ValueInHexadecimal], [ValueInDecimal], [StatusAccount], [Statusdescription]) VALUES (N'HOMEDIR_REQUIRED', N'0x0008', 8, N'A pasta home é necessária.', NULL)
GO
